                                       BASIC STATISTICS-2

Problem Statement : Hospital Patient Data Analysis  

Context:                                   

A hospital maintains patient records including admission details, department, diagnosis, doctor, and bill amount. You have two datasets: one with patient info and another with billing details. Some patients have blank bill amounts, and there are multiple rows for the same patient due to follow-ups.

Tasks:

1.	Load the patient dataset and show summary with info().

In [8]:
import pandas as pd

In [9]:
Biliing_data = pd.read_csv("Billing_Data.csv")
Patient_data = pd.read_csv("Patient_Data.csv")

In [10]:
print("Billing Data")
Biliing_data.info()
Biliing_data

Billing Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5 entries, 0 to 4
Data columns (total 3 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   PatientID         5 non-null      int64
 1   InsuranceCovered  5 non-null      int64
 2   FinalAmount       5 non-null      int64
dtypes: int64(3)
memory usage: 248.0 bytes

   PatientID  InsuranceCovered  FinalAmount
0        101              2000         3000
1        102              1500         3500
2        103              2500         5000
3        104              3000         3200
4        105              1000         4000

In [11]:
print("Patient Data")
Patient_data.info()
Patient_data

Patient Data
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 6 entries, 0 to 5
Data columns (total 7 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   PatientID       6 non-null      int64
 1   Name            6 non-null      object
 2   Department      6 non-null      object
 3   Doctor          6 non-null      object
 4   BillAmount      4 non-null      float64
 5   ReceptionistID  6 non-null      int64
 6   CheckInTime     6 non-null      object
dtypes: float64(1), int64(2), object(4)
memory usage: 464.0+ bytes

,PatientID,Name,Department,Doctor,BillAmount,ReceptionistID,CheckInTime
0,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00
1,102,Bob,Neurology,Dr. John,NaN,2,2023-01-11 10:30
2,103,Charlie,Orthopedics,Dr. Lee,7500.0,1,2023-01-12 11:00
3,104,David,Cardiology,Dr. Smith,6200.0,3,2023-01-13 12:00
4,105,Eva,Dermatology,Dr. Rose,NaN,2,2023-01-14 08:45
5,101,Alice,Cardiology,Dr. Smith,5000.0,1,2023-01-10 09:00

2.	Select only the columns relevant for billing: ['PatientID', 'Department', 'Doctor', 'BillAmount'].

In [12]:
Patient_data.loc[:,["PatientID","Department","Doctor","BillAmount"]]

   PatientID   Department     Doctor  BillAmount
0        101   Cardiology  Dr. Smith      5000.0
1        102    Neurology   Dr. John         NaN
2        103  Orthopedics    Dr. Lee      7500.0
3        104   Cardiology  Dr. Smith      6200.0
4        105  Dermatology   Dr. Rose         NaN
5        101   Cardiology  Dr. Smith      5000.0

3.	Drop administrative columns like ['ReceptionistID', 'CheckInTime'].

In [13]:
Patient_data.drop(["ReceptionistID","CheckInTime"], axis=1,inplace=True)

In [14]:
Patient_data

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN
5        101    Alice   Cardiology  Dr. Smith      5000.0

4.	Use groupby to find total bill amount per department.

In [15]:
total_bill_per_dept = Patient_data.groupby('Department')['BillAmount'].sum().reset_index()
print("Total Biil Amount per Department")
print(total_bill_per_dept)

Total Biil Amount per Department
    Department  BillAmount
0   Cardiology     16200.0
1  Dermatology         0.0
2    Neurology         0.0
3  Orthopedics      7500.0

5.	Remove duplicate patient records based on PatientID.

In [16]:
Patient_data.drop_duplicates(subset='PatientID', keep='first', inplace=True)
Patient_data

   PatientID     Name   Department     Doctor  BillAmount
0        101    Alice   Cardiology  Dr. Smith      5000.0
1        102      Bob    Neurology   Dr. John         NaN
2        103  Charlie  Orthopedics    Dr. Lee      7500.0
3        104    David   Cardiology  Dr. Smith      6200.0
4        105      Eva  Dermatology   Dr. Rose         NaN

6.	Fill missing BillAmount values with the mean bill amount.

In [17]:
mean_bill = Patient_data["BillAmount"].mean()

In [18]:
Patient_data["BillAmount"] = Patient_data["BillAmount"].fillna(mean_bill)

In [19]:
Patient_data

   PatientID     Name   Department     Doctor   BillAmount
0        101    Alice   Cardiology  Dr. Smith  5000.000000
1        102      Bob    Neurology   Dr. John  6233.333333
2        103  Charlie  Orthopedics    Dr. Lee  7500.000000
3        104    David   Cardiology  Dr. Smith  6200.000000
4        105      Eva  Dermatology   Dr. Rose  6233.333333

7.	Merge the billing dataset with patient dataset on PatientID.

In [20]:
merged_bill = pd.merge(Biliing_data,Patient_data , on='PatientID', how='left')
merged_bill

,PatientID,InsuranceCovered,FinalAmount,Name,Department,Doctor,BillAmount
0,101,2000,3000,Alice,Cardiology,Dr. Smith,5000.000000
1,102,1500,3500,Bob,Neurology,Dr. John,6233.333333
2,103,2500,5000,Charlie,Orthopedics,Dr. Lee,7500.000000
3,104,3000,3200,David,Cardiology,Dr. Smith,6200.000000
4,105,1000,4000,Eva,Dermatology,Dr. Rose,6233.333333

8.	Concatenate an additional DataFrame that contains new patients for the current week (row-wise).

In [21]:
New_patients_data = {'PatientID': [106, 107],
                      'Name': ['Frank', 'Grace'],
                      'Department': ['Oncology', 'Radiology'],
                      'Doctor': ['Dr. Kane', 'Dr. Turner'],
                      'BillAmount': [8000.0, 9056.0]}
new_patients_df = pd.DataFrame(New_patients_data)

In [22]:
merged_bill = pd.concat([merged_bill, new_patients_df], ignore_index=True)

In [23]:
merged_bill

,PatientID,InsuranceCovered,FinalAmount,Name,Department,Doctor,BillAmount
0,101,2000.0,3000.0,Alice,Cardiology,Dr. Smith,5000.000000
1,102,1500.0,3500.0,Bob,Neurology,Dr. John,6233.333333
2,103,2500.0,5000.0,Charlie,Orthopedics,Dr. Lee,7500.000000
3,104,3000.0,3200.0,David,Cardiology,Dr. Smith,6200.000000
4,105,1000.0,4000.0,Eva,Dermatology,Dr. Rose,6233.333333
5,106,NaN,NaN,Frank,Oncology,Dr. Kane,8000.000000
6,107,NaN,NaN,Grace,Radiology,Dr. Turner,9056.000000

9.	Concatenate new billing category columns like ['InsuranceCovered', 'FinalAmount'] (column-wise).

In [24]:
insurance_covered = [True, False, True, False, True, True,False]  
final_amount = [4500.0, 1000.0, 6750.0, 5580.0, 8564.0, 4500.0, 1306.0]

In [25]:
merged_bill['InsuranceCovered'] = insurance_covered
merged_bill['FinalAmount'] = final_amount

print(merged_bill)

   PatientID  InsuranceCovered  FinalAmount     Name   Department      Doctor  \
0        101              True       4500.0    Alice   Cardiology   Dr. Smith
1        102             False       1000.0      Bob    Neurology    Dr. John
2        103              True       6750.0  Charlie  Orthopedics     Dr. Lee
3        104             False       5580.0    David   Cardiology   Dr. Smith
4        105              True       8564.0      Eva  Dermatology    Dr. Rose
5        106              True       4500.0    Frank     Oncology    Dr. Kane
6        107             False       1306.0    Grace    Radiology  Dr. Turner

    BillAmount
0  5000.000000
1  6233.333333
2  7500.000000
3  6200.000000
4  6233.333333
5  8000.000000
6  9056.000000